:root {
	--primary-color:#007;
    --background-color:#fffffc;
	--text-color:#000004;
	--code-text-color:#000004;
	--text-font: 'Raleway', sans-serif;
	--display-font: 'Fira Code', monospace;
	--code-font: 'Fira Code', monospace;
}

body {
	background-color: var(--background-color);
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--text-font);
	color: var(--text-color);
	padding: 0px;
	margin: 32px 0px 8px 0px;
}

h1.banner, h2.banner {
	font-family: var(--display-font);
	color: var(--background-color);
	padding: 0px;
	margin: 0px;	
}

p, body {
	font-family: var(--text-font);
	line-height: 1.6;
	color: var(--text-color);
}

p {
	padding: 4px 0px;
}

p.date {
	padding: 0px 0px 16px 0px;
}

pre.code {
	font-family: var(--code-font);
	font-weight: 900;
	font-size: small;
	tab-size: 4;
	padding: 4px 0px;
	margin: 0px;
	color: var(--code-text-color);
}

div.banner {
	background-color: var(--primary-color);
	padding: 32px 64px;
	margin: 0px;	
}

div.main {
	padding: 0px 64px 32px 64px;
	margin: 0px;	
}