:root {
    --light-color:#fffffc;
	--dark-color:#000004;
	--code-text-color:#000;
	--code-background-color:#f0f0f0;
}

body {
	background-color: var(--light-color);
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Code', monospace;
	color: var(--dark-color);
	padding: 0px;
	margin: 32px 0px 8px 0px;
}

h1.banner, h2.banner, h3.banner {
	font-family: 'Fira Code', monospace;
	color: var(--light-color);
	padding: 0px;
	margin: 0px;	
}

p, body {
	font-family: 'EB Garamond', serif;
	font-size: large;
	color: var(--dark-color);
}

p.date {
	font-family: 'Fira Code', monospace;
	font-size: small;
	color: var(--dark-color);
}

pre.code {
	font-family: 'Fira Code', monospace;
	font-size: small;
	padding: 16px 16px;
	color: var(--code-text-color);
	background-color: var(--code-background-color);
	overflow-x: scroll;
	overflow-y: hidden;
}

div.banner {
	background-color: var(--dark-color);
	padding: 32px 64px;
	margin: 0px;	
}

div.main {
	padding: 0px 64px 32px 64px;
	margin: 0px;	
}